target/classes/mule_messaging_activemq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <jms:activemq-connector name="Active_MQ" specification="1.1" brokerURL="tcp://192.168.93.135:61616" validateConnections="true" doc:name="Active MQ"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="activemqQueueSenderFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/actmqq" allowedMethods="POST" doc:name="HTTP"/>
        <jms:outbound-endpoint queue="sample.mule.queue" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
    <flow name="activemqQueueReceiverFlow">
        <jms:inbound-endpoint queue="sample.mule.queue" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
    </flow>
        <flow name="activemqTopicPublisherFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/actmqt" allowedMethods="POST" doc:name="HTTP"/>
        <jms:outbound-endpoint topic="sample.mule.topic" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
    <flow name="activemqTopicSubscriberFlow">
        <jms:inbound-endpoint topic="sample.mule.topic" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
